<?php
/*  Database and other configuration information - Required!!  
 -- Configure the Variables Below --

*/

$org_name           = 'UltraScan III LIMS';
$org_site           = 'uslims3.uthscsa.edu';

$dbusername         = '';  # the name of the MySQL user
$dbpasswd           = '';  # the password for the MySQL user
$dbname             = '';  # the name of the database
$dbhost             = ''; # the host on which MySQL runs, generally localhost
?>
